.sidebar-box {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-sidebar-primary);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: solid 1px var(--clr-sidebar-primary);
  gap: 1rem;
}
.sidebar-item {
  color: var(--clr-sidebar-text-primary);
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sidebar-item:hover {
  color: var(--clr-sidebar-text-hover);
  cursor: pointer;
}
.sidebar-logo {
  display: flex;
  align-items: center;
}
